input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    color: rgb(229, 239, 247);
    margin-bottom: 1em;
    cursor: pointer;
}

.red {
    background: red;
}

.green {
    background: rgb(84, 215, 3);
}

.blue {
    background: rgb(20, 54, 249);
}